<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>PAGE DE CONNEXION

    </h1>
    <main>
        <form action="">

            <label for="name">name</label>
            <input type="text" id="loginName"><br><br>



            <label for="password">password</label>
            <input type="password" id="loginPassword"><Br></Br>

            <button type="button" onclick="login()">Envoyer</button>
        </form>
    </main>
    <script src="../loginRegister.js"></script>
</body>

</html>